<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
    <style>
        /* body{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            height: 100vh;

        } */
        table{
            /* margin-left: auto;
            margin-right: auto; */
            border-collapse: collapse;

        }
        h1{
            margin: 50px;
            text-align: center;
            color: rgb(39, 13, 14);
            text-transform: uppercase;
        }
        th{
            border: 2px solid rgb(0, 0, 0); 
            background-color: rgb(232, 218, 200);
        }
        td{
            border: 2px solid rgb(0, 0, 0);
           
        }
        tr{
           text-align: center;
           font-size: large;
           font-style: italic;
           background-color: rgb(215, 196, 219);
           
        }
        .form{
            margin: 50px;
        }
        div{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
        }
        label{
            text-transform: uppercase;
            color: rgb(58, 10, 97);
            font-size: large;
        }
        button{
            text-transform: uppercase;
            color: darkred;
            background-color: rgb(255, 224, 203);
            margin-left: 120px;
            margin-top: 30px;
            border: 3px solid black;
            border-radius: 4px;
            padding: 8px;
            font-style: italic;
            font-weight: 600;

        }
        body{
            background-color: rgb(255, 226, 226);
        }
        input{
            width: 30vb;
            height: 3vh;
        }
    </style>
</head>
<body>
    <h1 >URL Shortener</h1>
    <div class="form">
        <form action="/url" method="post">
            <% if (locals.id) { %>
             <p>
                URL Generated: http://localhost:8001/url/<%= id %></p>
            <% } %>
            <label>Enter the URL:</label>
            <input type="text" name="url" placeholder="https://examp.com" >
            <br>
            <button type="submit">Generate</button>
            
        </form>
    </div>
    <div >
        <% if (locals.urls) { %>
            <table>
                <thead>
                    <th>SR No.</th>
                    <th>Short-ID</th>
                    <th>REDIRECT-URL</th>
                    <th>Clicks</th>
                </thead>
                <tbody>
                    <% urls.forEach((url,index) => { %>
                        <tr>
                        <td><%= index+1 %></td>
                        <td><%= url.shortId %></td>
                        <td><%= url.redirectUrl %></td>
                        <td><%= url.visitHistory.length %></td>
                        </tr>
                     <% }) %>
                </tbody>
            </table>
        <% } %>
    </div>
    
</body>
</html>